@import '../../App.scss';

.greetings{
    @extend .container;
    @extend .flex-container;
    justify-content: flex-end;
    padding: 30px 10px 30px 0;
    font-size: 14px;
    color: $default-darkgrey;
    span{
        white-space: pre;
        color: $apple-systemblue;
        font-weight: 500;
        @extend .basic-link;
        &.disabled{
            opacity: 0.6;
            pointer-events: none;
        }
    }
}