@import '../../App.scss';
$input-height: 1.75rem;

.table-item {
    display: flex;
    flex-direction: column;

    &__items {
        margin-left: auto;
        padding-right: 10px;
    }

    .table-pagination {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        font-size: 14px;
        color: #111;

        .pagination-pf-page {
            margin-right: 5px;
            font-size: 14px;
            line-height: 1.42861;
            font-weight: 400;
            letter-spacing: -.016em;
            width: 28px;
            height: 34px;
            border: 1px solid #d6d6d6;
            border-radius: 5px;
            text-align: center;
        }

        .as-pagination-totalnumbers {
            color: #666;
        }

        button {
            cursor: pointer;
            background-color: white;
            padding: 5px 10px;
            border: none;
            color: #111;
            border-radius: 5px;
            font-weight: bold;

            &:disabled {
                pointer-events: none;
                color: #ccc;
            }
        }

        #nextButton {
            &::after {
                content: '\003E';
                margin-left: 10px;
            }
        }

        #prevButton {
            &:before {
                content: '\003C';
                margin-right: 10px;
            }
        }
    }

    .table-container {
        margin-top: 10px;
        max-height: 620px;
        width: 100%;
        overflow: auto;
        border-bottom: solid 0.5px $apple-grey;


        @media screen and (max-width: 1140px) {
            max-width: 100%;
            padding-left: 0;
        }

        .results {
            width: 100%;
            border-spacing: 0;

            th,
            td {
                padding: 12px;
            }

            tr {
                cursor: pointer;
            }

            th {
                background: $apple-grey;
                font-weight: 200;
                letter-spacing: 0.5px;
            }

            td {
                border-bottom: 0.4px solid $apple-grey;
                color: #333333;

                &:first-child {
                    text-align: center;
                    font-weight: bold;

                    .productImg {
                        width: 100px;
                        margin-top: 10px;
                    }
                }

                .city-display {
                    color: $apple-systemblue;
                    padding-top: 10px;
                    display: flex;

                    &::before {
                        content: "\f3c5";
                        font-family: 'Font Awesome\ 5 Free';
                        display: inline-block;
                        padding-right: 3px;
                        vertical-align: middle;
                        font-weight: 900;
                    }
                }

                .variants-display {
                    display: flex;

                    &__column {
                        display: flex;
                        flex-direction: column;

                        &:not(last-of-type) {
                            margin-right: 10px;
                        }

                        .swatch-container {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                        }
                    }

                    &__color-swatch {
                        width: 40px;
                        height: 40px;
                        @extend .basic-swatch;
                        margin-bottom: 10px;
                    }

                    &__type {
                        font-size: 12px;
                        padding: 5px;
                        font-weight: 600;
                        border: 0.1px solid;
                        border-radius: 5px;
                        cursor: pointer;
                        ;

                        &:not(last-of-type) {
                            margin-bottom: 5px;
                        }

                        .show-on-hover {
                            display: none;
                            color: $apple-systemblue;
                        }

                        &:not(:hover) {
                            &.unavailable {
                                border-color: #c4c4c4;
                                color: #c4c4c4;
                                background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='1'/></svg>");
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: 100% 100%, auto;
                            }
                        }

                        &:hover {
                            border-color: $apple-systemblue;

                            &.unavailable {
                                opacity: 0.5;
                            }

                            .show-on-hover {
                                display: inline;
                            }

                            .hide-on-hover {
                                display: none;
                            }
                        }
                    }
                }
            }

            tr[visible='false'],
            .no-result {
                display: none;
            }

            tr[visible='true'] {
                display: table-row;
                cursor: pointer;
            }
        }

    }
}