@import './Colours.scss';

.container {
    margin: 0 auto;
    max-width: 980px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.basic-link {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.standard-shadow {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.basic-swatch {
    background: $apple-grey;
    border-radius: 50%;
    display: inline-block;
    @extend .standard-shadow;
}

.background-overlay {
    background-color: rgba(0, 0, 0, 0.85);
}

.app {
    background-color: white;
}

body {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: -0.022em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: $apple-darkgrey;
}

body,
button,
input,
select,
textarea {
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
}

* {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*Class to assert dominance in color over any other styling*/

.spacegrey {
    background-color: $apple-spacegrey  !important;
}

.silver {
    background-color: $apple-silver  !important;
}

.alpinegreen {
    background-color: $apple-alpinegreen  !important;
}

.gold {
    background-color: $apple-gold  !important;
}

.graphite {
    background-color: $apple-graphite  !important
}

.sierrablue {
    background-color: $apple-sierrablue  !important;
}

.green {
    background-color: $apple-green  !important;
}

.pink {
    background-color: $apple-pink  !important;
}

.blue {
    background-color: $apple-blue  !important;
}

.midnight {
    background-color: $apple-midnight  !important;
}

.starlight {
    background-color: $apple-starlight  !important;
}

.productred {
    background-color: $apple-productred  !important;
}

.purple {
    background-color: $apple-purple  !important;
}

.white {
    background-color: $apple-white  !important;
}

.yellow {
    background-color: $apple-yellow  !important;
}

.black {
    background-color: $apple-black  !important;
}