$default-darkgrey: #333333;
$apple-grey: #f3f3f3;
$apple-darkgrey: #1d1d1f;
$apple-lightgrey: #B1B3B6;
$apple-systemblue: #0A84FF;
$apple-cyan: #40C8E0;
$apple-spacegrey: #B1B3B6;
$apple-silver: #dfe1e0;
$apple-alpinegreen: #576856;
$apple-gold: #F8E8D1;
$apple-graphite: #585753;
$apple-sierrablue: #ABC3DB;
$apple-green: #364935;
$apple-pink: #FAE0D8;
$apple-blue: #215E7C;
$apple-midnight: #171E27;
$apple-starlight: #F9F3EE;
$apple-productred: #A50011;
$apple-purple: #D1CDDB;
$apple-white: #F9F6EF;
$apple-yellow: #FFE681;
$apple-black: #1F2120;