@import '../../App.scss';

.tagItem {
    background-color: $apple-systemblue;
    opacity: 0.6;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 14px;
    pointer-events: none;
    margin-bottom: 5px;

    &::after {
        content: '\00D7';
        margin-left: 10px;
        pointer-events: auto;
        cursor: pointer;
    }
}